node_modules/
data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal
uploads/
design/
design[0-9]*/
design.tar.gz
design[0-9]*.tar.gz
.env
.env.local
.DS_Store
*.log

# Next.js
.next/
out/
*.tsbuildinfo
